#todo-form {
    margin-bottom: 10px;
}

#todo-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
}

#todo-input:focus {
    box-shadow: 0 0 5px #007bff;
}

.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.todo-item .checkbox {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.todo-item .checkbox.checked {
    background-color: #007bff;
    border-color: #007bff;
}

.todo-item .checkbox.checked::before {
    content: '✓';
    color: #fff;
    font-size: 12px;
}

.todo-item .todo-label {
    flex: 1;
    font-size: 16px;
    color: #333;
}

body {
    /*支持无边框窗口可拖拽功能*/
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

/*关闭按钮的可拖拽功能*/
.enable-click {
    -webkit-app-region: no-drag;
}

h1 {
    text-align: center;
}

#todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: 600px;
    margin-top: calc(100vh / 3);
}

#todo-form {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#todo-input {
    width: 200px;
}

button[type="submit"] {
    margin-left: 5px;
    border-radius: 5px;
    height: 35px;
    background-color: #00BFFF;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

/** 右上角关闭按钮 */
#close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}


button.delete {
    background-color: #FFA07A;
}

ul#todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

ul#todo-list li {
    background-color: #F0F8FF;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

ul#todo-list li:nth-child(even) {
    background-color: rgba(255, 165, 0, 0.5);
}

ul#todo-list li:nth-child(3n) {
    background-color: rgba(255, 255, 0, 0.5);
}

ul#todo-list li:nth-child(4n) {
    background-color: rgba(0, 128, 0, 0.5);
}

ul#todo-list li:nth-child(5n) {
    background-color: rgba(0, 0, 255, 0.5);
}

ul#todo-list li:nth-child(6n) {
    background-color: rgba(75, 0, 130, 0.5);
}

ul#todo-list li:nth-child(7n) {
    background-color: rgba(148, 0, 211, 0.5);
}