/*!**==============整体样式===============*!*/

body {
    /*支持无边框窗口可拖拽功能*/
    -webkit-app-region: drag;
    display: flex;
    flex-direction: column;
    /*align-items: center;*/
    /*justify-content: center;*/
    min-height: 100vh;
    margin: 0;
}



/*关闭按钮的可拖拽功能*/
.enable-click {
    -webkit-app-region: no-drag;
}


/**==============标题部分样式===============*/
.content-header {
    align-items: center;
    justify-content: center;
}

/** “代办任务”文字样式 */
h2 {
    margin-top: -40px;
    font-size: 20px;
    color: black;
    cursor: pointer;
}



/** 右上角关闭按钮 */
#close-button {
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 20px;
    background-color: rgba(255, 160, 122, 0);
    border: none;
    color: black;
    cursor: pointer;
}


/**==============任务录入样式===============*/
/** todoList 任务输入框样式 */
#todo-form {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#todo-input {
    padding: 5px;
    border-radius: 5px;
    border: none;
    outline: none;
    width: 200px;
}

#todo-input:focus {
    box-shadow: 0 0 5px #007bff;
}



/** 提交按钮样式 */
button[type="submit"] {
    margin-left: 5px;
    border-radius: 5px;
    height: 35px;
    background-color: #00BFFF;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
}


/**==============任务内容样式===============*/
/** todo部分整体样式 */
.container {
    width: 200px;
    position: relative;
}
/** todoInput样式 */
.todoInput {
    float: left;
}

/** todoContent 内容样式 */
.todo-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dropdown {
    display: flex;
    flex-direction: column;
    transition: transform 0.3s, background-color 0.3s;
}

.dropdown_top {
    width: 230px;
    /** 悬浮效果 */
    transition: transform 0.3s;
}

.dropdown_top:hover {
    transform: scale(1.1);
}

.dropdown_btm {
    z-index: 1;
    margin-left: 5px;
    width: 250px;
    height: 230px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 2px solid #e6e6e6;
    /* 悬浮效果 */
    transition: transform 0.3s;
}

.dropdown_btm:hover {
    transform: scale(1.1);
}

.open {
    display: block;
}

.close {
    display: none;
}

label {
    display: flex;
    float: left;
    min-height: 20px;
    padding-left: 5px;
    margin-bottom: 0;
    font-weight: 400;
    cursor: pointer;
}

/** 下箭头点击之后展示的内容 */
.todo-item .checkbox {
    float: left;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
    border: 2px solid #ccc;
    cursor: pointer;
}

.todo-item .checkbox.hover {
    background-color: #007bff;
    border-color: #007bff;
}

.todo-item .checkbox.checked::before {
    content: '✓';
    color: #fff;
    font-size: 12px;
}

.todo-item .todo-label {
    font-size: 16px;
    color: #333;
}

button.delete {
    margin-left: 5px;
    border-radius: 5px;
    height: 25px;
    background-color: rgba(255, 160, 122, 0);
    border: none;
    color: #595b5c;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

button.showDetail {
    margin-left: 5px;
    border-radius: 5px;
    height: 25px;
    background-color: rgba(255, 160, 122, 0);
    border: none;
    color: #595b5c;
    font-weight: bold;
    cursor: pointer;
    float: right;
}

.dropdown_top.clicked {
    animation: rotateAnimation 1s ease-in-out;
}

@keyframes rotateAnimation {
    0% {
        transform: rotateX(0);
        background-color: white;
    }
    30% {
        transform: rotateX(30deg);
        background-color: skyblue;
    }
    60% {
        transform: rotateX(-30deg);
        background-color: skyblue;
    }
    100% {
        transform: rotateX(0);
        background-color: white;
    }
}

/** 字体中间贯穿一条横线 */
.text-with-line {
    text-decoration: line-through;
}

.dropdown.animate-remove {
    animation: removeUnit 0.5s ease forwards;
}

@keyframes removeUnit {
    0% {
        opacity: 1;
        transform: translateX(0);
    }
    100% {
        opacity: 0;
        transform: translateX(-100%);
    }
}

ul#todo-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    list-style-type: none;
}

ul#todo-list li .dropdown_top{
    background-color: #f0f8ff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

ul#todo-list li:nth-child(even) .dropdown_top{
    background-color: rgba(255, 165, 0, 0.5);
}

ul#todo-list li:nth-child(3n) .dropdown_top{
    background-color: rgba(255, 255, 0, 0.5);
}

ul#todo-list li:nth-child(4n) .dropdown_top{
    background-color: rgba(0, 128, 0, 0.5);
}

ul#todo-list li:nth-child(5n) .dropdown_top{
    background-color: rgba(0, 0, 255, 0.5);
}

ul#todo-list li:nth-child(6n) .dropdown_top{
    background-color: rgba(75, 0, 130, 0.5);
}

ul#todo-list li:nth-child(7n) .dropdown_top{
    background-color: rgba(148, 0, 211, 0.5);
}

/** 大文本框样式 */
.textarea {
    width: 200px;
    height: 150px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin-top: 10px;
}

/** 自定义滚动条属性 */
/* 设置最大高度和启用垂直滚动条 */
.scrollable-container {
    height: 380px;
    max-height: 380px; /* 设置最大高度 */
    overflow-y: auto; /* 启用垂直滚动条 */
}

/* 自定义滚动条样式 */
.scrollable-container::-webkit-scrollbar {
    width: 8px; /* 设置滚动条宽度 */
}

.scrollable-container::-webkit-scrollbar-track {
    background-color: #f5f5f5; /* 设置滚动条轨道背景颜色 */
}

.scrollable-container::-webkit-scrollbar-thumb {
    background-color: #888; /* 设置滚动条滑块颜色 */
    border-radius: 4px; /* 设置滚动条滑块圆角 */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
    background-color: #555; /* 设置滚动条滑块悬停时颜色 */
}


/** ============= 额外属性配置 =============== */
/** 元素上下居中对齐 */
.element-center {
    margin-top: auto;
    margin-bottom: auto;
}

/** 方框图标类 */
.square-frame {
    background-image: url("../assets/images/icos/方框未选.ico");
}

/** 完成图标类 */
.finish {
    background-image: url("../assets/images/icos/对号.ico");
}



/** ========= 主程序样式 ========== */
.task-container {
    width: 300px;
    background-color: #f5f5f5;
    border-radius: 10px;
    padding: 3px;
    margin-left: auto;
    margin-right: auto;
}

.top-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    background-color: #fff;
    border-radius: 10px;
}

.left-section,
.right-section {
    flex: 1;
    padding: 10px;
}

.left-section {
    background-color: #ffcccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.right-section {
    background-color: #ccffcc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h3 {
    margin: 0;
}
